bin/
obj/
.vs/
*.suo
*.opensdf
*.sdf
*.user
ipch
*.exe
*.aps
*.obj
*.swp
*.dll
*.log
*.cfg
*.core
*.zip

Bin
Bin32
Bin64
BinLib
BinTemp

.idea
.gradle
.cxx
build
local.properties
setup_build_env.cmd
*.dat
